<header>
  <h1>Log in with your Active Directory credentials</h1>
</header>

<%= form_for(:session, :url => login_path) do |f| %>
<%=
safe_join(
  [
    f.label(:user),
    f.text_field(:user, :required => true),
    f.label(:password),
    f.password_field(:password, :required => true),
    f.submit("Log in"),
  ]
)
%>
<% end %>
