default: &default
  adapter: postgresql
  database: {{ ark_db }}
  encoding: unicode
  password:  <%= Rails.application.secrets.ark_pg_pass %>
  pool: 5
  username: {{ ark_pg_user }}

development:
  <<: *default

test:
  <<: *default
  database: {{ test_db }}
  username: {{ test_pg_user }}

production:
  <<: *default
