#!/bin/bash

export PGPASSWORD="{{ ark_pg_pass }}"

# removes 2-day-old backup
rm {{ project_dir }}/pg_backups/minter_day_old.bak
# renames lates backup to day-old
mv {{ project_dir }}/pg_backups/minter.bak {{ project_dir }}/pg_backups/minter_day_old.bak

pg_dump -U {{ ark_pg_user }} minter > {{ project_dir }}/pg_backups/minter.bak
