#!/bin/sh

cd {{ project_dir }}/{{ project_name }}/current
export RAILS_ENV=production
export BACKGROUND=yes
export PIDFILE=tmp/pids/resque.pid
export INTERVAL=5
export QUEUE=minter
export VERBOSE=1

bin/rake environment resque:work 2>&1 &
