default: &default
  ezid_user: {{ ezid_user }}
  ezid_pass: {{ ezid_pass }}
  pg_pass: {{ pg_pass }}
  secret_key_base: {{ rails_secret_key_base }}

development:
  <<: *default
  ark_db: ark
  ark_pg_pass: {{ ark_pg_pass }}

test:
  <<: *default
  ark_db: ark_test
  ark_pg_pass: {{ test_pg_pass }}

production:
  <<: *default
  ark_db: ark
  ark_pg_pass: {{ ark_pg_pass }}
  ezid_shoulder: {{ ezid_shoulder }}
