<VirtualHost *:80>
ServerName {{ server_name }}
# !!! Be sure to point DocumentRoot to 'public'!
DocumentRoot {{ project_dir }}/{{ project_name }}/current/public
# uses xsendfile for browser downloads
XSendFile on
XSendFilePath {{ project_dir }}/{{ project_name }}/derivatives
  <Directory {{ project_dir }}/{{ project_name }}/current/public>
        # MultiViews must be turned off.
        Options -MultiViews
        Require all granted
  </Directory>
</VirtualHost>
