<table id='<%= @status %>' class='<%= @profile %> text'>
  <thead><tr>
    <% case @profile %>
    <% when :erc %>
      <th class='standard_header'></th>
      <th class='standard_header'>What</th>
      <th class='standard_header'>Who</th>
      <th class='standard_header'>When</th>
      <th class='standard_header'>Location</th>
      <th class='standard_header'>ARK</th>
      <th class='standard_header id'></th>
    <% when :dc %>
      <th class='standard_header'></th>
      <th class='standard_header'>Title</th>
      <th class='standard_header'>Creator</th>
      <th class='standard_header'>Type</th>
      <th class='standard_header'>Date</th>
      <th class='standard_header'>Publisher</th>
      <th class='standard_header'>Location</th>
      <th class='standard_header'>ARK</th>
      <th class='standard_header id'></th>
    <% when :datacite %>
      <th class='standard_header'></th>
      <th class='standard_header'>Title</th>
      <th class='standard_header'>Creator</th>
      <th class='standard_header'colspan='2'>Resource Type</th>
      <th class='standard_header'>Publication Year</th>
      <th class='standard_header'>Publisher</th>
      <th class='standard_header'>Location</th>
      <th class='standard_header'>ARK</th>
      <th class='standard_header id'></th>
    <% end %>

    <%
    # Spaces aren't allowed in CSS classes, but we want to avoid
    # collisions if for some reason a user has columns "cat stuff" and
    # "catstuff"; therefore replace spaces with an uncommon Unicode
    # character
    %>
    <% @extra_columns.each do |k| %>
      <th class='<%= k.to_s.tr(" ", "〰") %>'><%= k %></th>
    <% end %>

  </tr></thead>
  <tbody>

    <% @objects[@status][@profile].reject(&:empty?).each do |row| %>

    <tr>
      <% # Add empty cell for displaying row numbers %>
      <td class="line_number"></td>

      <% @all_columns.each do |e| %>
        <%
        # Hashes created by {ExcelHelper.scrape} have
        # symbols as keys, while hashes from pg (PostgreSQL gem) use
        # strings (because we run the Item objects through as_json to
        # make them usable).  So we need to convert the element to a
        # symbol in order to access the former values, but NOT when we
        # want to access the latter values (trying to access pg hashes
        # using symbols returns empty strings instead of the hash's
        # value).
        e = e.to_sym unless (row[e.to_sym]).to_s == ""
        %>

        <%
        # The value of the metadata type (e.g., ARK, ResourceType, title)
        #
        # may be "ark:/99999/fk4f76kg6t", "Image", "Harry Potter and
        # the Philosopher's Stone", etc.
        value = row[e]
        %>

        <% if e.to_s == "datacite_resourcetype" %>
          <%
          # split resourcetype into general and specific types; merged
          # with {ApplicationHelper.merge_resourcetypes!}
          general, value = if value.nil?
                             ["", ""]
                           else
                             row[e].downcase.split("/")
                           end
          %>

          <td class='<%= e %>'>
            <select name='<%= @status %>[<%= @profile %>][][<%= e %>]'>"
              <% RESOURCE_TYPES_GENERAL.each do |t| %>
                <option value='<%= t %>' <%= "selected" if t.casecmp(general).zero? %>>
                  <%= t %>
                </option>
              <% end %>
            </select>
          </td>

          <%
          # The general type must be one of RESOURCE_TYPES_GENERAL,
          # but the specific type can be anything, so we need two
          # inputs that are glued together with
          # {ApplicationHelper.merge_resourcetypes!} before submitting
          # to Ezid
          # http://ezid.cdlib.org/doc/apidoc.html#profile-datacite
          e = :datacite_resourcesubtype
          %>
        <% end %>

        <td>

          <% if e.to_s == "ark" %>
            <% if value.blank? %>
              <span class='ark'></span>
            <% else %>
              <a class='ark' href='http://ezid.cdlib.org/id/<%= value %>'><%= value %></a>
            <% end %>
          <% end %>

          <% always_hide = e.to_s == "ark" || e.to_s == "id" %>

          <% input_type = if always_hide
                            "hidden"
                          elsif e.to_s == "target"
                            "url"
                          else
                            "text"
                          end
          %>

          <input class='<%= e.to_s.tr(" ", "〰") %>'
            type='<%= input_type %>'
            name='<%= @status %>[<%= @profile %>][][<%= e %>]'

            <%=
            # FIXME: `required` doesn't work on Safari:
            # https://bugs.webkit.org/show_bug.cgi?id=28649
            # https://bugs.webkit.org/show_bug.cgi?id=40520
            " required " if e == :erc_what || e == :dc_title || e == :datacite_title %>

            value="<%= html_escape(value) %>"

            <% placeholder = if e == :datacite_resourcesubtype
                               "/ specific type"
                             elsif e.to_s != "target"
                               "Give me a value!"
                             else
                               ""
                             end
            %>

            placeholder='<%= placeholder %>'>
        </td>
      <% end %>

      <td class='delete'><%= button_tag "✘", type: "button", class: "delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @status == :new %>
  <%= button_tag("Add row", :type => "button", :class => "add #{@profile}") %>
<% end %>
