<header>
  <h1>Upload or input metadata</h1>
</header>

<h2>Upload Excel spreadsheet</h2>
<%= form_tag({:controller => "application", :action => "new"}, :multipart => true) do %>
<%=
safe_join(
  [
    label_tag(:spreadsheet),
    file_field_tag(:spreadsheet, :required => true),

    radio_button_tag(:profile, "dc"),
    label_tag(:profile_dc, "DublinCore"),
    radio_button_tag(:profile, "datacite"),
    label_tag(:profile_datacite, "DataCite"),
    radio_button_tag(:profile, "erc", :active => true),
    label_tag(:profile_erc, "ERC"),

    submit_tag("Upload"),
  ]
)
%>
<% end %>

<h2>Mint a single ARK</h2>
<%= form_tag({:controller => "application", :action => "new"}) do %>
<%
  inputs = {
    :erc_what => "What",
    :erc_who => "Who",
    :erc_when => "When",
    :target => "Location (URL)",
  }
%>
  <% inputs.each do |k, v| %>
    <label for='<%= k %>'><%= v %></label>
    <input id='<%= k %>' <%= 'required' if k == :erc_what %> type='text' name='new[erc][][<%= k %>]'></input>
  <% end %>

  <input type='hidden' name='profile' value='erc'>
  <%= submit_tag("Mint") %>
<% end %>
