<header>
  <h1>Records minted by Active Directory user "<%= current_user %>" (<a href='<%= new_path %>' title='Mint ARKs'>mint more</a>)</h1>
</header>

<p>Minted ARKs from jobs that are in progress may appear on this page;
wait until you receive an email confirming that all records have been
processed before downloading the job.</p>

<% PROFILE_SYMBOLS.each do |sym|
  next if @objects[:archive][sym].empty? %>

  <% if sym == :datacite %>
    <h2>DataCite</h2>

    <%= form_tag(:controller => "application", :action => "download") do %>
      <input type='hidden' name='profile' value='datacite'>
      <input type='hidden' name='user' value='<%= current_user %>'>
      <input type='hidden' name='filename' value='datacite_ALL_<%= Time.now.strftime('%F_%H.%M.%S') %>'>
      <%= submit_tag("Download all DataCite records") %>
    <% end %>

    <% @objects[:archive][:datacite].each_value do |job| %>
      <%= form_tag(:controller => "application", :action => "download") do %>
        <% time = Time.at(job.first["job_id"].sub(/.*_([0-9]*)/, '\1').to_i) %>

        <input type='hidden' name='profile' value='datacite'>
        <input type='hidden' name='job_id' value='<%= job.first['job_id'] %>'>
        <input type='hidden' name='filename' value='datacite_<%= time.strftime('%F_%H.%M.%S') %>'>
        <h3>Job: <%= time.strftime('%F at %R') %></h3>
        <%= submit_tag("Download this job") %>
      <% end %>

      <table class='minted'><thead><tr>
        <th></th><th>Title</th><th>Creator</th>
        <th>Resource Type</th><th>Publication Year</th>
        <th>Publisher</th><th>Location</th><th>ARK</th>

        <% job.first.keys.reject { |k| ApplicationHelper.standard_header? k }.each do |k| %>
          <th><%= k %></th>
        <% end %>

      </tr>
      </thead>
      <tbody>

        <% job.sort_by { |r| r["ark"] }.each do |rec| %>
          <tr>
            <td class='line_number'></td>
            <td><%= rec["datacite_title"] %></td>
            <td><%= rec["datacite_creator"] %></td>
            <td><%= rec["datacite_resourcetype"] %></td>
            <td><%= rec["datacite_publicationyear"] %></td>
            <td><%= rec["datacite_publisher"] %></td>
            <% if !rec["target"].nil? && rec["target"].start_with?("http") %>
              <td><a href="<%= rec["target"] %>"><%= rec["target"] %></a></td>
            <% else %>
              <td><%= rec["target"] %></td>
            <% end %>
            <td><a href="http://ezid.cdlib.org/id/<%= rec["ark"] %>"><%= rec["ark"] %></a></td>

            <% rec.keys.reject { |k| ApplicationHelper.standard_header? k }.each do |k| %>
              <td><%= rec[k] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody></table>
    <% end %>

    <% elsif sym == :dc %>

    <h2>DublinCore</h2>

    <%= form_tag(:controller => "application", :action => "download") do %>
      <input type='hidden' name='profile' value='dc'>
      <input type='hidden' name='user' value='<%= current_user %>'>
      <input type='hidden' name='filename' value='dc_ALL_<%= Time.now.strftime('%F_%H.%M.%S') %>'>
      <%= submit_tag("Download all DublinCore records") %>
    <% end %>

    <% @objects[:archive][:dc].each_value do |job| %>
      <%= form_tag(:controller => "application", :action => "download") do %>
        <% time = Time.at(job.first["job_id"].sub(/.*_([0-9]*)/, '\1').to_i) %>

        <input type='hidden' name='profile' value='dc'>
        <input type='hidden' name='job_id' value='<%= job.first['job_id'] %>'>
        <input type='hidden' name='filename' value='dc_<%= time.strftime('%F_%H.%M.%S') %>'>
        <h3>Job: <%= time.strftime('%F at %R') %></h3>
        <%= submit_tag("Download this job") %>
      <% end %>

      <table class='minted'><thead><tr>
        <th></th><th>Title</th><th>Creator</th>
        <th>Type</th><th>Date</th><th>Publisher</th>
        <th>Location</th><th>ARK</th>

        <% job.first.keys.reject { |k| ::ApplicationHelper.standard_header? k }.each do |k| %>
          <th><%= k %></th>
        <% end %>

      </tr></thead>
      <tbody>

        <% job.sort_by { |r| r["ark"] }.each do |rec| %>
          <tr>
            <td class='line_number'></td>
            <td><%= rec["dc_title"] %></td>
            <td><%= rec["dc_creator"] %></td>
            <td><%= rec["dc_type"] %></td>
            <td><%= rec["dc_date"] %></td>
            <td><%= rec["dc_publisher"] %></td>

            <% if !rec["target"].nil? && rec["target"].start_with?("http") %>
              <td><a href="<%= rec["target"] %>"><%= rec["target"] %></a></td>
            <% else %>
              <td><%= rec["target"] %></td>
            <% end %>

            <td><a href="http://ezid.cdlib.org/id/<%= rec["ark"] %>"><%= rec["ark"] %></a></td>

            <% rec.keys.reject { |k| ApplicationHelper.standard_header? k }.each do |k| %>
              <td><%= rec[k] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody></table>
    <% end %>

  <% else %>
    <h2>Profile: ERC</h2>

    <%= form_tag(:controller => "application", :action => "download") do %>
      <input type='hidden' name='profile' value='erc'>
      <input type='hidden' name='user' value='<%= current_user %>'>
      <input type='hidden' name='filename' value='erc_ALL_<%= Time.now.strftime('%F_%H.%M.%S') %>'>
      <%= submit_tag("Download all ERC records") %>
    <% end %>

    <% @objects[:archive][:erc].each_value do |job| %>
      <%= form_tag(:controller => "application", :action => "download") do %>
        <% time = Time.at(job.first["job_id"].sub(/.*_([0-9]*)/, '\1').to_i) %>

        <input type='hidden' name='profile' value='erc'>
        <input type='hidden' name='job_id' value='<%= job.first['job_id'] %>'>
        <input type='hidden' name='filename' value='erc_<%= time.strftime('%F_%H.%M.%S') %>'>

        <h3>Job: <%= time.strftime('%F at %R') %></h3>
        <%= submit_tag("Download this job") %>
      <% end %>

      <table class='minted'><thead><tr>
        <th></th>
        <th>What</th><th>Who</th>
        <th>When</th><th>Location</th><th>ARK</th>

        <% job.first.keys.reject { |k| ApplicationHelper.standard_header? k }.each do |k| %>
          <th><%= k %></th>
        <% end %>

      </tr></thead>
      <tbody>

        <% job.sort_by { |r| r["ark"] }.each do |rec| %>
          <tr>
            <td class='line_number'></td>
            <td><%= rec["erc_what"] %></td>
            <td><%= rec["erc_who"] %></td>
            <td><%= rec["erc_when"] %></td>

            <% if !rec["target"].nil? && rec["target"].start_with?("http") %>
              <td><a href=\"<%= rec["target"] %>\"><%= rec["target"] %></a></td>
            <% else %>
              <td><%= rec["target"] %></td>
            <% end %>

            <td><a href="http://ezid.cdlib.org/id/<%= rec["ark"] %>"><%= rec["ark"] %></a></td>

            <% rec.keys.reject { |k| ApplicationHelper.standard_header? k }.each do |k| %>
              <td><%= rec[k] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody></table>
    <% end %>
  <% end %>
<% end %>
