<header>
  <h1>Your ARKs are being processed!</h1>
</header>

<p>You’ll get an email when they’re ready.  Maybe <a href='<%= new_path %>' title='Mint ARKs'>mint some more</a> while you’re waiting?</p>

<p>(If it's a very small job it might be done already!  Check your
<%= link_to("archived jobs", archive_path) %>.)</p>
