<% if @profile.blank? %>
  <% return render "upload" %>
<% end %>

<header>
  <h1>Review objects (<a href='<%= new_path %>' title='Mint ARKs'>or start over</a>)</h1>
</header>

<%= form_tag({:controller => "application", :action => "create"}) do %>
  <input type='hidden' name='profile' value='<%= @profile %>'>

  <%
  proper = {
    :datacite => "DataCite",
    :dc => "DublinCore",
    :erc => "ERC",
  }
  %>

  <h2><%= proper[@profile] %> Objects</h2>

  <% if @status == :updates %>
    <h3>These records have already been minted</h3>
    <p>You may update their metadata now.  The metadata you see below
    is what you provided; make sure your metadata is not out-of-date!</p>
  <% else %>
    <h3>New records</h3>
  <% end %>

  <%= render partial: "table" %>

  <p>
    <label for='email'>We’ll email you when they’re ready:</label>
    <br>
    <input type='email' required name='email' placeholder='Enter your email address'>
  </p>

  <input type='hidden' name='user' value='<%= current_user %>'>
  <%= submit_tag("Finish") %>
<% end %>
